<%- include("partials/header"); %> 

<div class="jumbotron">
	<h1>Landing Page</h1>

	<p>Welcome to YelpCamp</p>
	
	<div>
		<a href="/campgrounds">View all campgrounds</a>
	</div>

</div>

<%- include("partials/footer"); %> 